block head

head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="format-detection" content="telephone=no")
  block meta
  block css
  link(rel="stylesheet" href=rootPath+"dist/css/common.css")
  script(src=rootPath+"dist/js/common.js" defer)
  block script
