- var rootPath = 'file:///Users/genius/Dropbox/My%20Mac%20(geniusnoMacBook-Pro.local)/Desktop/m_my/g_github/t_template/';
- var imagePath = rootPath + 'dist/image/';

block pageVariable

doctype html
html(lang="ja")
  include /include/_head.pug
  body
    include /include/_header.pug
    include /include/_main.pug
    include /include/_footer.pug